 <div>
    {{#users}}
            <p><small>{{first_name}} {{last_name}}</small></p>
            <p><small>{{email}}</small></p>
            <h3>{{title}}<h3>
            <p>{{post}}</p>
    <a href=”/blog/{{id}}”>Details</a>
    <hr/>
    {{/users}}
</div>

